In [2]:
# imports
import pandas as pd

# GDP data reading and cleaning

In [15]:
gdp_path = '../../data/gdpaverage/gdpaverage.csv'
gdp = pd.read_csv(gdp_path)

C:\Users\sidhu\AppData\Local\Temp/ipykernel_11128/1477319135.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  gdp = pd.read_csv(gdp_path)

In [24]:
gdp.head(2)

,REF_DATE,GEO,DGUID,Seasonal adjustment,Prices,North American Industry Classification System (NAICS),UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1997-01,Canada,2016A000011124,Seasonally adjusted at annual rates,Chained (2012) dollars,All industries [T001],Dollars,81,millions,6,v1000000673,1.1.1.1,1151041.0,NaN,NaN,NaN,0
1,1997-01,Canada,2016A000011124,Seasonally adjusted at annual rates,Chained (2012) dollars,Goods-producing industries [T002],Dollars,81,millions,6,v1000000674,1.1.1.2,393954.0,NaN,NaN,NaN,0

### Extracted only required columns

In [25]:
gdp_subset = gdp[['REF_DATE', 'Seasonal adjustment', 'Prices', 'North American Industry Classification System (NAICS)', 'VALUE', 'STATUS']]
gdp_subset.head()

,REF_DATE,Seasonal adjustment,Prices,North American Industry Classification System (NAICS),VALUE,STATUS
0,1997-01,Seasonally adjusted at annual rates,Chained (2012) dollars,All industries [T001],1151041.0,NaN
1,1997-01,Seasonally adjusted at annual rates,Chained (2012) dollars,Goods-producing industries [T002],393954.0,NaN
2,1997-01,Seasonally adjusted at annual rates,Chained (2012) dollars,Service-producing industries [T003],756377.0,NaN
3,1997-01,Seasonally adjusted at annual rates,Chained (2012) dollars,Business sector industries [T004],NaN,..
4,1997-01,Seasonally adjusted at annual rates,Chained (2012) dollars,"Business sector, goods [T005]",NaN,..

In [29]:
gdp_subset.dtypes

REF_DATE                                                  object
Seasonal adjustment                                       object
Prices                                                    object
North American Industry Classification System (NAICS)     object
VALUE                                                    float64
STATUS                                                    object
dtype: object