## Retail Sales By Industries

### Data Cleaning and Wrangling

In [1]:
# Imports

import pandas as pd

In [2]:
# Reading file

retailsales=pd.read_csv('../../data/retailsalesbyIndustry/retailSalesbyIndustry.csv')

In [3]:
# Renaming columns as per required
retailsales.rename(columns = {'REF_DATE':'DATE', 
                                            'GEO':'LOCATION',
                                            'North American Industry Classification System (NAICS)':'INDUSTRY',
                                            'Adjustments':'ADJUSTMENTS'
                                           },inplace = True)

In [4]:
# Filtering columns as needed and extracting required columns
retailsales_filtered=retailsales[(retailsales['LOCATION'] == 'Canada') & 
                 (retailsales['INDUSTRY'] == 'Retail trade [44-45]')&
                 (retailsales['ADJUSTMENTS'] == 'Seasonally adjusted')&
                 (retailsales['DATE'] >= '2004-01')]
retailsales_final = retailsales_filtered[['DATE', 'VALUE']].copy()

#Changing data type of date
retailsales_final['DATE'] =  pd.to_datetime(retailsales_final['DATE'])
retailsales_final

             DATE       VALUE
9793   2004-01-01  27935993.0
10331  2004-02-01  28719948.0
10869  2004-03-01  28689514.0
11407  2004-04-01  28254086.0
11945  2004-05-01  28554094.0
...           ...         ...
130975 2021-10-01  58218955.0
131711 2021-11-01  58750669.0
132447 2021-12-01  57919779.0
133183 2022-01-01  59857374.0
133919 2022-02-01  59899112.0

[218 rows x 2 columns]