## Retail Sales By Industries

### Data Cleaning and Wrangling

In [2]:
# Imports

import pandas as pd

In [22]:
# Reading file

retailsales=pd.read_csv('../../data/retailsalesbyIndustry/retailSalesbyIndustry.csv')
retailsales.head(5)

,REF_DATE,GEO,DGUID,North American Industry Classification System (NAICS),Adjustments,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1991-01,Canada,2016A000011124,Retail trade [44-45],Unadjusted,Dollars,81,thousands,3,v52367096,1.1.1,12588862.0,NaN,NaN,NaN,0
1,1991-01,Canada,2016A000011124,Retail trade [44-45],Seasonally adjusted,Dollars,81,thousands,3,v52367097,1.1.2,15026890.0,NaN,NaN,NaN,0
2,1991-01,Canada,2016A000011124,Motor vehicle and parts dealers [441],Unadjusted,Dollars,81,thousands,3,v52367118,1.2.1,2484133.0,NaN,NaN,NaN,0
3,1991-01,Canada,2016A000011124,Motor vehicle and parts dealers [441],Seasonally adjusted,Dollars,81,thousands,3,v52367119,1.2.2,3124582.0,NaN,NaN,NaN,0
4,1991-01,Canada,2016A000011124,New car dealers [44111],Unadjusted,Dollars,81,thousands,3,v52367142,1.4.1,2085763.0,NaN,NaN,NaN,0

In [23]:
retailsales.rename(columns = {'REF_DATE':'DATE', 
                                            'GEO':'LOCATION',
                                            'North American Industry Classification System (NAICS)':'INDUSTRY',
                                            'Adjustments':'ADJUSTMENTS'
                                           },inplace = True)

In [24]:
retailsales.head(2)

,DATE,LOCATION,DGUID,INDUSTRY,ADJUSTMENTS,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1991-01,Canada,2016A000011124,Retail trade [44-45],Unadjusted,Dollars,81,thousands,3,v52367096,1.1.1,12588862.0,NaN,NaN,NaN,0
1,1991-01,Canada,2016A000011124,Retail trade [44-45],Seasonally adjusted,Dollars,81,thousands,3,v52367097,1.1.2,15026890.0,NaN,NaN,NaN,0

In [ ]:
retailsales_desiredcol=retailsales[['DATE','LOCATION','Industry']]